

<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="">
            <img src="~/assets/images/logo-icon.png" class="logo-icon-2" alt="" />
        </div>
        <div>
            <h4 class="logo-text">Syndash</h4>
        </div>
        <a href="javascript:;" class="toggle-btn ml-auto">
            <i class="bx bx-menu"></i>
        </a>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">

        <li class="menu-label">Web Apps</li>
        <li>
            <a href="emailbox.html">
                <div class="parent-icon icon-color-2">
                    <i class='bx bx-category'></i>
                </div>
                <div class="menu-title">Student Management</div>
            </a>
        </li>
        <li>
            <a href="chat-box.html">
                <div class="parent-icon icon-color-3">
                    <i class="bx bx-conversation"></i>
                </div>
                <div class="menu-title">Chat Box</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->
</div>