@{
    Student_WebAdmin.ViewModels.VM_AccountInfo account = new Student_WebAdmin.ViewModels.VM_AccountInfo();
    if (User.Identity.IsAuthenticated)
    {
        account = new Student_WebAdmin.ViewModels.VM_AccountInfo()
        {
            userName = User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.NameIdentifier)?.Value,
            accountId = User.Claims.FirstOrDefault(c => c.Type == "AccountId")?.Value,
            fullName = User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Name)?.Value,
            avatar = User.Claims.FirstOrDefault(c => c.Type == "Avatar")?.Value,
            roles = User.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)?.Select(x => x.Value).ToList(),
            email = User.Claims.FirstOrDefault(c => c.Type == "Email")?.Value,
            firstName=User.Claims.FirstOrDefault(c=>c.Type=="FirstName")?.Value,
            lastName=User.Claims.FirstOrDefault(c=>c.Type=="LastName")?.Value,
            phoneNumber=User.Claims.FirstOrDefault(c=>c.Type=="PhoneNumber")?.Value,
        };
    }
}
<div class="page-wrapper">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
                <div class="breadcrumb-title pr-3">User Profile</div>
                <div class="pl-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a asp-controller="Home" asp-action="Index"><i class='bx bx-home-alt'></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="user-profile-page">
                <div class="card radius-15">
                    <div class="card-body">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="row">
                                <div class="col-12 col-lg-7 border-right">
                                    <div class="d-md-flex align-items-center">
                                        <div class="mb-md-0 mb-3">
                                            <img src=@account.avatar class="rounded-circle shadow" width="130" height="130" alt="" />
                                        </div>
                                        <div class="ml-md-4 flex-grow-1">
                                            <div class="d-flex align-items-center mb-1">
                                                <h4 class="mb-0">@account.fullName</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-5">
                                    <table class="table table-sm table-borderless mt-md-0 mt-3">
                                        <tbody>
                                            <tr>
                                                <th>Age:</th>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th>Email:</th>
                                                <td>@account.email</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="mb-3 mb-lg-0">
                                        <a href="https://github.com/" class="btn btn-sm btn-link"><i class='bx bxl-github'></i></a>
                                        <a href="https://twitter.com/" class="btn btn-sm btn-link"><i class='bx bxl-twitter'></i></a>
                                        <a href="https://www.facebook.com/" class="btn btn-sm btn-link"><i class='bx bxl-facebook'></i></a>
                                        <a href="https://www.linkedin.com/" class="btn btn-sm btn-link"><i class='bx bxl-linkedin'></i></a>
                                        <a href="https://stackoverflow.com/" class="btn btn-sm btn-link"><i class='bx bxl-stack-overflow'></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-12 col-lg-7 border-right">
                                    <div class="d-md-flex align-items-center">
                                        <div class="mb-md-0 mb-3">
                                            <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909__340.png" class="rounded-circle shadow" width="130" height="130" alt="" />
                                        </div>
                                        <div class="ml-md-4 flex-grow-1">
                                            <div class="d-flex align-items-center mb-1">
                                                <h4 class="mb-0">User name</h4>
                                            </div>
                                            <p class="mb-0 text-muted">@account.personId</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-5">
                                    <table class="table table-sm table-borderless mt-md-0 mt-3">
                                        <tbody>
                                            <tr>
                                                <th>Age:</th>
                                                <td>27</td>
                                            </tr>
                                            <tr>
                                                <th>Email</th>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#Edit-Profile"><span class="p-tab-name">Edit Profile</span><i class='bx bx-message-edit font-24 d-sm-none'></i></a>
                            </li>
                        </ul>
                        <div class="tab-content mt-3">
                            <div id="Edit-Profile" class="panel-collapse collapse">
                                <div class="card shadow-none border mb-0 radius-15">
                                    <div class="card-body">
                                        <div class="form-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col-12 col-lg-5 border-right">
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label>Họ</label>
                                                                <input type="text" value="@account.lastName" class="form-control">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label>Tên</label>
                                                                <input type="text" value=@account.firstName class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Mật Khẩu</label>
                                                            <input type="password" value="1234560000" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input type="text" value=@account.email class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Số điện thoại</label>
                                                            <input type="text" value=@account.phoneNumber class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Địa chỉ</label>
                                                            <input type="text" value="116-B, Cutela Colony, Sydney, Australia" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-7">
                                                        <div class="form-group">
                                                            <label>Quốc tịch</label>
                                                            <input type="text" value="Australia" class="form-control">
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label>Giới tính</label>
                                                                <select class="form-control">
                                                                    <option value="1">Nữ</option>
                                                                    <option value="0">Khác</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label>Ngày sinh</label>
                                                                <input type="date" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="submit" class="btn btn-success" value="LƯU">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
