@{

    ViewData["Title"] = "Trang chủ";
    var dataTeacher = ViewBag.data as IEnumerable<M_Count>;
}
@section Styles{
    <partial name="_P_StylesTableAndFormBasic" />
    <link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.1/css/dataTables.uikit.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
}
@section Scripts{
    <partial name="_P_ScriptsTableAndFormBasic" />
    <script src="~/controller/home_manage.js" asp-append-version="true"></script>
}
<div class="page-wrapper">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="card radius-15">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="mb-0">Top pages by views </h5>
                    </div>
                    <hr />
                    <div class="row">
                        @foreach (var item in dataTeacher)
                        {
                            if (item.name == "teacher")
                            {
                                <div class="col-12 col-lg-4">
                                    <div class="card radius-15 bg-gradient-success">
                                        <div class="card-body">
                                            <div class="d-flex mb-2">
                                                <p class="mb-0 font-weight-bold" style="text-transform:uppercase">@item.name</p>
                                                <h2 class="mb-0">@item.count person</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-12 col-lg-4">
                                    <div class="card radius-15 bg-gradient-mehandi">
                                        <div class="card-body">
                                            <div class="d-flex mb-2">
                                                <p class="mb-0 font-weight-bold" style="text-transform:uppercase">@item.name</p>
                                                <h2 class="mb-0">@item.count person</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>